h1, h2, h3, h4, h5, h6, p, a, li, span, i, html, body, input{
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	list-style: none;
	text-decoration: none;
	font-size: 20px;
	scroll-behavior: smooth;
}



#Body {
    background-color: rgb(0, 0, 0);
}
#TextHeaderDiv {
    color: white;
    margin-left: 900px;
    margin-bottom: 450px;
    font-size: 35px;
    font-style: oblique;
}
#h1_text {
    margin-bottom: 100px;
}

#JoJoImageDiv {
    margin-left: 650px;
    margin-top: 300px;
    width: 10px;
    height: 10px;
}
#InviteButton {
    margin-bottom: 50px;
    border: 3px solid #201e1e;
    background-color: #201e1e;
}